@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-slate-100 text-slate-900 transition-colors duration-300;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #996633 40%,
    #777781 70%,
    #000000 100%
  );
}

.dark body {
  @apply bg-slate-900 text-slate-100;
  background: linear-gradient(
    390deg,
    #000000 0%,
    #a1a1a1 25%,
    #777781 40%,
    #996633 80%
  );
}

a,
button {
  @apply transition-colors duration-300;
}
