@import 'tailwindcss';

body {
  @apply bg-slate-100 text-slate-900 transition-colors duration-300;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #996633 100%,
    #000000 80%,
    #777781 90%
  );
}

.dark body {
  @apply bg-slate-900 text-slate-100;
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #996633 40%,
    #777781 70%,
    #000000 100%
  );
}

.dark body a {
  @apply text-white;
}

a,
button {
  @apply transition-colors duration-300;
}
